# Dependencies
node_modules/
.pnp
.pnp.*

# Build output & caches
/dist
/.next/
/out/
/build
*.tsbuildinfo

# Environment files
.env*
!.env.example

# Logs & debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Storage & Temp
/dev-storage/
/backend/dev-storage/
/.storage/
/backend/storage/
.temp
.tmp
.turbo
